#title {
  background-color: lightblue;
  padding-bottom: 80px;
}
 @font-face {
   font-family: machine;
   src: url("dafont/BrokenMachine.ttf");
 }

.first-title {
  font-weight: bold;
  color: azure;
  font-size:3rem;
  line-height: 1.5;
}



.brand-name {
  color:black;
}

body {
  font-family: "Montserrat";
  font-weight: bolder;
}

.fa-screwdriver-wrench {
  color:forestgreen;
  text-shadow: 1px 0 0 0 black;
}

.navbar-brand {
  font-family: machine;
  font-size:50px;

}


.container-fluid {
  padding: 3% 10%;
}

.navbar {
  padding:0 0 5px 0;}

.nav-item {
  padding:0 5rem;
  font-size: 20px;
}

.wrench-image {
  width:60%;
  transform:rotate(40deg);
}

.product-image {
    width:300px;
    -webkit-filter: drop-shadow(2px 2px 0 black)
                drop-shadow(-2px 2px 0 black)
                drop-shadow(2px -2px 0 black)
                drop-shadow(-2px -2px 0 black);

filter: drop-shadow(2px 2px 0 black)
        drop-shadow(-2px 2px 0 black)
        drop-shadow(2px -2px 0 black)
        drop-shadow(-2px -2px 0 black);
  
}
.product-image:hover {
  opacity: 0.5;
  transform: scale(1.05);


}
.product-item {
  padding:70px 0px;
}

.product-title {
  margin:0;
  padding:0;
}

.footer {
  padding:30px 0px;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.title-products {
  padding-bottom: 20px;
}

.wrench2 {
  -webkit-transform: scaleX(-1);
}

.product-description {
  padding-top: 30px;
}

#testimonials {
  text-align: center;
  background-color: lightblue;
  height:550px;
}

.h1-carousel {
  color:blue;
  font-family: "Montserrat";
}

em{
  color:green;
  font-family: "Montserrat";
}

.carousel-item {
  padding:7% 15%;
}

#sell {
  text-align: center;

}

.seperate-card {
  padding:40px;
}



.sell-title {
  padding-top: 40px;
}

.contact-title {
  text-align: center;
}
#contact {

  background-color: lightblue;
  padding:7% 15%;
}

.contact-description {
  text-align: center;
}