#title {
  background-color: lightblue;
  padding-bottom: 80px;
}
 @font-face {
   font-family: machine;
   src: url("dafont/BrokenMachine.ttf");
 }

.first-title {
  font-weight: bold;
  color: azure;
  font-size:3rem;
  line-height: 1.5;
}



.brand-name {
  color:black;
}

body {
  font-family: "Montserrat";
  font-weight: bolder;
}

.fa-screwdriver-wrench {
  color:forestgreen;
  text-shadow: 1px 0 0 0 black;
}

.navbar-brand {
  font-family: machine;
  font-size:30px;
}


.container-fluid {
  padding: 3% 10%;
}

.navbar {
  padding:0 0 5px 0;}

.nav-item {
  padding:0 5rem;
  font-size: 20px;
}

.wrench-image {
  width:60%;
  transform:rotate(40deg);
}

.product-image {
    width:400px;
    -webkit-filter: drop-shadow(2px 2px 0 black)
                drop-shadow(-2px 2px 0 black)
                drop-shadow(2px -2px 0 black)
                drop-shadow(-2px -2px 0 black);

filter: drop-shadow(2px 2px 0 black)
        drop-shadow(-2px 2px 0 black)
        drop-shadow(2px -2px 0 black)
        drop-shadow(-2px -2px 0 black);
  
}
.product-image:hover {
  opacity: 0.5;
  transform: scale(1.05);


}
.product-item {
  padding:70px 0px;
}

.product-title {
  margin:0;
  padding:0;
}

.footer {
  padding:0 50px;
  background-color: blueviolet;
}

.title-products {
  padding-bottom: 20px;
}

.wrench2 {
  -webkit-transform: scaleX(-1);
}

.product-description {
  padding-top: 30px;
}