

hr {
  border:dotted black;
  width:5%;
  margin-top: 50px;
  margin-bottom: 100px;
}

body {
  margin:0; 
  background-color:#DBF7E8;
  text-align: center;
}

.blank-img {
  z-index: 1;
  height:200px;
}

.anter-title {
  font-size: 50px;
  padding-left: 40px;
  color:white;
  text-shadow:1px 0 0 0 black;
  

}
.header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  margin:0;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(0, 107, 0), rgb(201, 246, 184));
  z-index: 3;
   
}

.extra-header1{
  color:lightgreen;
  font-size: 30px;
  margin: 70px 20px 0px 0px;
  text-decoration: none;
}

.extra-header{

  font-size: 30px;
  margin: 70px 20px 0px 0px;
}

.left-of-anter {
  display: flex;
  justify-content: space-between;
    

}


.extra-headera:hover {
  color:lightgreen;
}

.right-of-anter {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin: 70px 20px 0px 0px;
  color: #195A19;
}

.top-layer {
  height: 1000px;
  padding-top: 200px;
}

.middle-layer {
  height:1000px;
 
}

.bottom-layer {
  height: 1000px;
}

.middle-title {
 display:flex;
 justify-content: center;
}

.gear-img {
  height: 500px;
  padding-top: 200px;
  opacity: 0.1;
  margin:auto;
}

.footer-layer{
  background-color:green; 
}

.btn {
  margin:auto;
  padding-top: 100px;
  background: #d97b34;
  background-image: -webkit-linear-gradient(top, #d97b34, #2cb3b8);
  background-image: -moz-linear-gradient(top, #d97b34, #2cb3b8);
  background-image: -ms-linear-gradient(top, #d97b34, #2cb3b8);
  background-image: -o-linear-gradient(top, #d97b34, #2cb3b8);
  background-image: linear-gradient(to bottom, #d97b34, #2cb3b8);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a3fc3c;
  background-image: -webkit-linear-gradient(top, #a3fc3c, #175440);
  background-image: -moz-linear-gradient(top, #a3fc3c, #175440);
  background-image: -ms-linear-gradient(top, #a3fc3c, #175440);
  background-image: -o-linear-gradient(top, #a3fc3c, #175440);
  background-image: linear-gradient(to bottom, #a3fc3c, #175440);
  text-decoration: none;
}